<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Laptop Website</title>
    <style>
        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 40%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px;
            /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block
        }

        #myUL li a:hover:not(.header) {
            background-color: #eee;
        }

        .hel {
            margin-bottom: auto;
            margin-top: auto;
            background-color: #353b48;
            right: 0;
            border-radius: 30px;
            width: 300px;
            height: 70px;


  
}

        .search_input {
            color: white;
            border: 0;
            outline: 0;
            background: none;
            caret-color: transparent;
            line-height: 40px;
            transition: width 0.4s linear;
            padding: 0 10px;
            width: 450px;
            caret-color: red;
            transition: width 0.4s linear;

        }
    </style>
</head>

<body onload="myFunction();">
    {% extends "login.html" %}
    {% block content %}
   <center><input type="text"class="mt-5 mb-3" id="myInput" onkeyup="myFunction()" placeholder="Search for Laptops.." title="Type in a name">

   </center> <div class="container  p-4 shadow-lg">

        <ul id="myUL">
            <div class="row" id="gaming">

                <li class="col-lg-4 mb-4 column gaming">
                    <a class="card border" href="razer">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/razer.jpg" alt="">
                        <div class="card-body " style="background-size: cover;">
                            <h5 class="card-title text-center">Razer Blade 15</h5>
                            <p class="card-text">The Razer Blade is one of the smallest 15.6” gaming laptops,
                                striking the perfect balance of power and portability.</p>
                        </div>
                    </a>
                </li>

                <li class="col-lg-4 mb-4 column gaming">
                    <a class="card border" href="asus">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/Asus.jpg" alt="">
                        <div class="card-body" style="background-size: cover;">
                            <h5 class="card-title">Asus Rog</h5>
                            <p class="card-text"> Slim enough to slip into crowded bags, with the power for both AAA games
                                    and content creation, the ultra-slim ROG Zephyrus M is a heavyweight hybrid 
                                    gaming machine. </p>
                        </div>
                    </a>
                </li>
                <li class="col-lg-4 mb-4 column gaming">
                    <a class="card border" href="msi" style="background-size: cover;">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/msi.jpg" alt="">
                        <div class="card-body" style="background-size: cover;">
                            <h5 class="card-title">MSI</h5>
                            <p class="card-text">                                The Prestige 15 is powered by the 10th Gen Intel Core i7 processor, for on-the-go creators to breeze through demanding tasks faster than ever before.
                                </p>
                        </div>
                    </a>
                </li>
            </div>


            <div class="row" id="notebook">
                <li class="col-lg-4 mb-4 column Notebook">
                    <a class="card border" href="macbook">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/macbook.jpg" alt="">
                        <div class="card-body" style="background-size: cover;">
                            <h5 class="card-title">Macbook</h5>
                            <p class="card-text">       Macbook Pro elevates the notebook to a whole new level of 
                                    performance and portability. Wherever your ideas take you, 
                                        you'll get there faster than ever with high-performance
                                    processors and memory, advanced graphics , blazing fast 
                                    storage, and more</p>
                        </div>
                    </a>
                </li>
                <li class="col-lg-4 mb-4 column Notebook">
                    <a class="card border" href="surface">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/surface.jpg" alt="">
                        <div class="card-body" style="background-size: cover;">
                            <h5 class="card-title">Surface</h5>
                            Microsoft Surface Laptop is designed for Windows 10 S, streamlined for security and superior performance. Enjoy the Windows you know, Microsoft-verified apps delivered via the Windows Store, and the convenience of the cloud.
</p>
                        </div>
                    </a>
                </li>
                <li class="col-lg-4 mb-4 column Notebook">
                    <a class="card border" href="thinkpad">
                        <img class="card-img-top" style="height: 300px;" src="../static/images/thinkpad.jpg" alt="">
                        <div class="card-body" style="background-size: cover;">
                            <h5 class="card-title ">Thinkpad</h5>
                            <p class="card-text">   The ThinkPad T480 features Power Bridge technology, which utilizes a 23 Wh built-in battery in combination with a 23 Wh
                                    external battery. This allows you to swap out a battery and replace it with a fully charged one without having to turn your
                                    machine off.
                                 </p>
                        </div>
                    </a>
                </li>
            </div>

            <div class="row" id="2in1">
                <li class="col-lg-4 mb-4 column 2in1">
                    <a class="card border" href="acer">
                        <img class="card-img-top " style="height: 300px;" src="../static/images/acer.jpg" alt="">
                        <div class="card-body ">
                            <h5 class="card-title">Acer</h5>
                            <p class="card-text">                                Talk about versatility! The ultra-slim and light Spin 3 convertible laptop functions like a traditional laptop but with the hands-on, tactile user experience of a tablet. Just rotate the revolutionary 360° Hinge and watch it convert right in front of your eyes from a laptop to display, tent or tablet mode. It even comes with a rechargeable stylus that docks right into the PC, now that’s epic functionality!
                                </p>
                        </div>
                    </a>
                </li>
            <li class="col-lg-4 mb-4 column 2in1">
                <a class="card border" href="lg">
                    <img class="card-img-top" style="height: 300px;" src="../static/images/Lg 2-in-1.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title ">LG</h5>
                        <p class="card-text">                                For ultra-portability throughout the day, this 2.5 lbs laptop converts into a tablet with great ease. Draw, write, design, and more, with the flexibility you need to get the job done. For ultra-portability throughout the day, this 2.5 lbs laptop converts into a tablet with great ease. Draw, write, design, and more, with the flexibility you need to get the job done.
                            </p>
                    </div>
                </a>
            </li>
            <li class="col-lg-4 mb-4 column 2in1">
                <a class="card border" href="yoga">
                    <img class="card-img-top" style="height: 300px;" src="../static/images/yoga.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Yoga</h5>
                        <p class="card-text">Lenovo Yoga 710 Convertible 2-in-1 Laptop: Work and play wherever you go with this 15-inch Lenovo Yoga laptop. Equipped with a 4-in-1 card reader and two USB 3.0 ports, this multifunctional machine works with a range of external storage devices. Stay in touch when you use the 720p camera and combo array microphone included with this 15-inch Lenovo Yoga laptop to videoconference with friends and clients.
                            </p>
                    </div>
                </a>
            </li>
            </div>
    </div>
    </ul>


    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

    </script>
    {% endblock %}

</body>

</html>